<% obj.each do |art| %>
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="well well-lg faded-black-bg">
        <div class="article-title">
          <%= link_to art.title, article_path(art) %>
        </div>
        <div class="article-body">
          <%= truncate(art.description, length: 100) %>
        </div>

        <% if art.categories.any? %>
          <%= render "./articles/article_categories", art: art %>
        <% end %>
        <%= render "./articles/article_meta_details", art: art %>
        <%= render :partial => "./articles/article_actions", :locals => {:article => art} %>
      </div>
    </div>
  </div>
<% end %>