<% obj.each do |art| %>
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="well well-lg faded-black-bg">
        <div class="article-title">
          <%= link_to art.title, article_path(art) %>
        </div>
        <div class="article-body">
          <%= truncate(art.description, length: 100) %>
          <div class="article-meta-details">
            <small> created by <%= link_to art.user.username, user_path(art.user) %> 
                <%= link_to gravatar_for(art.user, size: 20), user_path(art.user) %>
                , <%= time_ago_in_words(art.created_at) %> ago,
                modified <%= time_ago_in_words(art.updated_at) %> ago
            </small>
          </div> 
        </div>
        <%= render :partial => "./articles/article_actions", :locals => {:article => art} %>
      </div>
    </div>
  </div>
<% end %>